<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Datos del Estudiante</title>
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tailwind CDN -->
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container mx-auto mt-20 p-4">
      <h1 class="text-3xl font-bold mb-4">Datos del Estudiante</h1>
      <p><strong>Nombre Completo:</strong> Javier Andrés Velásquez Bonilla</p>
      <p><strong>Carnet:</strong> 202307775 </p>
    </div>
  </body>
</html>