<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tailwind CDN -->

    <title>SUPER AUTOS GT</title>
  </head>
  <body class="bg-gray-100">
    {% include "navbar.html" %}

    <div class="h-screen mt-[70px] w-full flex items-center justify-center">
      <div class="w-full max-w-md p-8 bg-white shadow-2xl rounded-lg flex flex-col items-center">
        <div class="mb-6">
          <img
            src="https://static.vecteezy.com/system/resources/previews/002/608/952/non_2x/car-luxury-model-transport-vehicle-silhouette-style-icon-design-free-vector.jpg"
            class="w-[300px] h-[300px] rounded-lg bg-transparent"
            alt="Logo Super Autos GT"
          />
        </div>
        <h1 class="text-3xl font-bold mb-4 text-gray-800">Reportaje Agencia Super Autos GT</h1>
        <p class="text-center text-gray-600 mb-6">
          Información de las ventas realizadas, información completamente procesada y lista para ser visualizada.
        </p>
        <a href="#"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300"
        >
          Ver Reportes
        </a>
      </div>
    </div>
  </body>
</html>