<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tailwind CDN -->

    <title>SUPER AUTOS GT</title>
  </head>
  <body>
    {% include "navbar.html" %}

    <div
      class="h-screen mt-[70px] w-full bg-gradient-to-t from-[#ebbd34] to-[#eb9834] flex items-center justify-center"
    >
      <div
        class="w-full max-w-md p-6 bg-[#E9ECEE] shadow-2xl rounded-lg flex flex-col items-center"
      >
        <div class="mb-6">
          <img
            src="https://static.vecteezy.com/system/resources/previews/002/608/952/non_2x/car-luxury-model-transport-vehicle-silhouette-style-icon-design-free-vector.jpg"
            class="w-[400px] h-[400px] rounded-lg bg-transparent"
            alt="Logo Super Autos GT"
          />
        </div>
        <h1 class="text-2xl font-bold mb-8">Reportaje agencia Super Autos GT</h1>
        <p class="text-center">
            Información de las ventas realizadas, información completamente procesada y lista para ser visualizada.
        </p>
      </div>
    </div>
  </body>
</html>