<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gráfico de Ventas por Departamento</title>
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body class="bg-gray-100">
    {% include 'navbar.html' %}
    <div class="container mx-auto mt-20 p-4">
      <div class="bg-white p-8 shadow-2xl rounded-lg">
        <h1 class="text-3xl font-bold mb-4 text-gray-800">Gráfico de Ventas por Departamento</h1>
        <h2 class="text-2xl font-bold mt-8 text-gray-700">Gráfico de Ventas por Departamento</h2>
        <canvas id="graficoVentas" class="w-full h-96"></canvas>
      </div>
    </div>

    <script>
      function generarGrafico() {
        fetch('http://127.0.0.1:5000/config/obtenerDatosGrafico')
          .then(response => response.json())
          .then(data => {
            const ctx = document.getElementById('graficoVentas').getContext('2d');
            const labels = data.map(item => item.departamento);
            const cantidades = data.map(item => item.cantidad);

            new Chart(ctx, {
              type: 'bar', // Cambia a 'pie' para un gráfico de pastel
              data: {
                labels: labels,
                datasets: [{
                  label: 'Cantidad de Ventas',
                  data: cantidades,
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          })
          .catch(error => console.error('Error:', error));
      }

      // Generar el gráfico al cargar la página
      window.onload = generarGrafico;
    </script>
  </body>
</html>