<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ver Gráfico</title>
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tailwind CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container mx-auto mt-20 p-4">
      <h1 class="text-3xl font-bold mb-4">Gráfico de Ventas</h1>
      <canvas id="ventasChart"></canvas>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('ventasChart').getContext('2d');
        var ventasChart = new Chart(ctx, {
          type: 'bar', // Cambia a 'pie' si prefieres un gráfico de pastel
          data: {
            labels: JSON.parse('{{ labels|escapejs }}'),
            datasets: [{
              label: 'Ventas por Departamento',
              data: JSON.parse('{{ data|escapejs }}'),
              backgroundColor: 'rgba(54, 162, 235, 0.2)',
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      });
    </script>
  </body>
</html>